#innerbox {
  mask:
    url('data:image/svg+xml;utf8,<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><path d="M 103.169 -153.293 L 390.142 -155.603 C 421.206 -155.807 448.957 -135.693 448.957 -104.136 L 448.842 479.239 C 447.995 510.676 432.369 532.22 394.533 531.905 L 95.316 531.07 C 63.746 531.204 41.307 507.62 41.913 472.746 L 42.985 -99.276 C 42.985 -130.834 71.023 -152.523 103.169 -153.293 Z" /></svg>') 0/100% 100%,
    linear-gradient(#fff, #fff);
  mask-composite: exclude;
}

.nav-link {
  background: linear-gradient(#1095c1 0 0) var(--p, 0)/var(--p, 0) no-repeat;
  transition: .4s, background-position 0s;
}

.nav-link.active {
  --p: 100%;
}

/* .image {
  transform: scale(0.9, 0.9);
  transition: transform 0.2s ease-in;
} */

/* .image__foreground {
  transform-origin: 50% 50%;
  transform: translateY(4px) scale(1, 1);
  transition: transform 0.2s ease-in;
}

.image:hover {
  transform: scale(1, 1);
}

.image:hover .image__foreground {
  transform: translateY(-7px) scale(1.05, 1.05);
} */